@charset "utf-8";
/* fontawesomeの読み込み */
//@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

@font-face {
  font-family: "Noto Sans JP";
  src: url("../webfonts/NotoSansJP-Regular.otf");
}
@font-face {
  font-family: "Ricty Diminished";
  src: url("../webfonts/RictyDiminished-Regular.woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese",
    sans-serif;
  font-size: 12pt;
  font-weight: 1;
  line-height: 1.6;
  background-attachment: fixed;
  background: #0d1117;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
  border-radius: 10px;
  box-shadow: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 24pt;
  text-align: center;
}
h2 {
  font-size: 18pt;
  text-align: center;
}
h3 {
  font-size: 15pt;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: wheat;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea,
select {
  width: 100%;
  font-size: 14pt;
  padding: 5px;
  color: white;
  background: #11151b;
  border: 1px solid gray;
  &:focus {
    border: 1px solid blueviolet;
    outline: none;
  }
}

dialog {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  visibility: hidden;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    animation: modal-open 0.4s ease;
  }
}

dialog.close {
  animation: modal-close 0.5s ease !important;
  &::backdrop {
    animation: modalback-close 0.4s ease !important;
  }
}

dialog[open] {
  visibility: visible;
  animation: modal-slide 0.5s ease;
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 40%;
  }
}

@keyframes modalback-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modal-slide {
  0% {
    opacity: 0;
    top: 45%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

// ベースのflexbox
@mixin flexbese($ac: stretch, $ai: normal, $jc: center) {
  display: flex;
  align-content: $ac;
  align-items: $ai;
  justify-content: $jc;
  flex-flow: row wrap;
  width: 100%;
}

/*#####################*/
/*    メインレイアウト   */
/*#####################*/

header {
  // ウィンドウタイトルバー
  width: 100%;
  height: 25px;
  font-size: 12pt;
  -webkit-app-region: drag;
  background: #161b22;
  span.app-name {
    padding: 3px;
    height: 100%;
  }
  #app-setting {
    height: 100%;
    padding: 3px 12px;
    float: right;
    color: white;
    -webkit-app-region: no-drag;
    background-color: rgb(0, 61, 84);
    cursor: pointer;
  }
  #new-ssh-window {
    height: 100%;
    padding: 3px 12px;
    float: right;
    color: white;
    -webkit-app-region: no-drag;
    background-color: darkviolet;
    cursor: pointer;
  }
  #new-shell-window {
    height: 100%;
    padding: 3px 12px;
    float: right;
    color: white;
    -webkit-app-region: no-drag;
    background-color: chocolate;
    cursor: pointer;
  }
  #window-maximize,
  #window-minimize {
    height: 100%;
    padding: 3px 12px;
    float: right;
    color: white;
    -webkit-app-region: no-drag;
    transition: all 0.4s;
    &:hover {
      background-color: #4f4f4f;
    }
  }
  #window-close {
    height: 100%;
    padding: 3px 12px;
    float: right;
    color: white;
    -webkit-app-region: no-drag;
    transition: all 0.4s;
    &:hover {
      background-color: rgb(255, 102, 0);
    }
  }
}

#ssh-conection-modal {
  // SSHコネクション情報入力
  div.wrap {
    max-width: 800px;
    width: 100%;
    max-height: 510px;
    height: 100%;
    background-color: #11151b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em rgb(0, 23, 31);
    border-radius: 10px;
    padding: 20px;
    .modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    div.line {
      @include flexbese;
      max-width: 860px;
      margin: 0 auto;
      text-align: center;
      .profile-select {
        position: relative;
        #ssh-profile-select {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 250px;
          border-top: unset;
          border-left: unset;
          border-right: unset;
          color: white;
        }
        #ssh-profile-input-value-clear {
          position: absolute;
          top: 50%;
          right: 40px;
          transform: translateY(-50%);
          background-color: #453a4a;
          border-top: unset;
          border-left: unset;
          border-right: unset;
          color: white;
          padding: 4px 15px;
          font-size: 12pt;
          cursor: pointer;
        }
      }
      .input-label {
        width: 100%;
        display: inline-block;
        background-color: white;
        color: black;
        border-right: 1px solid black;
      }
      input[type="text"],
      input[type="password"] {
        text-align: center;
        &:disabled {
          background-color: #31373f;
        }
      }
      #privateKey-choice {
        font-size: 15pt;
        padding: 2.5px;
        width: 100%;
        color: black;
        background-color: ghostwhite;
        cursor: pointer;
        &:disabled {
          background-color: #31373f;
        }
      }
      #try-connect-btn {
        display: block;
        max-width: 150px;
        width: 100%;
        padding: 10px 20px;
        margin: 0 auto;
        background-color: blueviolet;
        color: white;
        font-size: 15pt;
        border-radius: 20px;
        cursor: pointer;
        &:disabled {
          background-color: #31373f;
        }
      }
      #ssh-conn-profile-name {
        display: inline-block;
        width: 75%;
        text-align: left;
      }
      #save-ssh-conn-profile {
        display: inline-block;
        width: 24%;
        font-size: 15pt;
        padding: 2px;
        background-color: darkviolet;
        cursor: pointer;
      }
    }
  }
}

#ssh-profile-modal {
  div.wrap {
    max-width: 800px;
    width: 100%;
    max-height: 510px;
    height: 100%;
    background-color: #11151b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em rgb(0, 23, 31);
    border-radius: 10px;
    padding: 20px;
    .profile-list {
      list-style: none;
      margin-top: 20px;
      max-height: 400px;
      overflow-y: scroll;
      @include flexbese($ai: center, $jc: left);
      li {
        @include flexbese($ai: center, $jc: left);
        margin-bottom: 10px;
        //border: 1px solid #4b346b;
        h3 {
          display: block;
          width: 100%;
          padding-bottom: 5px;
          background-color: #4b346b;
          font-weight: 400;
        }
        .value-box {
          padding: 3px 0;
          text-align: center;
          label {
            padding-right: 10px;
          }
          input {
            border-left: unset;
            border-right: unset;
            border-top: unset;
            &:disabled {
              text-align: center;
            }
          }
          button.profile-delete {
            display: inline-block;
            padding: 4px 15px;
            font-size: 14pt;
            background-color: #453a4a;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
    .modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

#connection-msg-modal {
  max-width: 450px;
  transform: translate(-50%, -50%);
  color: white;
  .title {
    display: block;
    width: 100%;
    font-size: 14pt;
    padding: 3px;
    background-color: #0d1117;
  }
  .msg {
    display: block;
    width: 100%;
    padding: 20px 15px;
    background-color: rgb(49, 49, 49);
  }
  .bun-emen {
    display: block;
    padding: 4px 15px;
    text-align: right;
    background-color: rgb(49, 49, 49);
    button {
      display: inline-block;
      padding: 3px 20px;
      border: 1px solid white;
    }
  }
}

.session-group {
  width: 100%;
  height: calc(100vh - 25px);
  position: relative;
  .command-send-elem {
    max-width: 100%;
    width: 100%;
    height: 80px;
    background: #161b22;
    padding: 20px;
  }
  .screen-selections {
    @include flexbese($ai: center, $jc: left);
    height: 40px;
    width: 100%;
    #screen-tabs {
      height: 100%;
      max-width: calc(100% - 320px);
      overflow: hidden;
      white-space: nowrap;
      /*&::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb { display: none; }*/
      .tab {
        display: inline-block;
        //min-width: 150px;
        position: relative;
        border-right: 1px solid #464646;
        border-top: 1px solid #464646;
        input[type="radio"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0;
          opacity: 0;
          cursor: pointer;
          &:hover + label {
            border-bottom: 2px solid orange;
            background-color: #2b3441;
          }
        }
        input[type="radio"] + label {
          display: inline-block;
          min-width: 150px;
          padding: 5px;
          padding-left: 10px;
          padding-right: 32px;
          border-bottom: 2px solid #161b22;
          background-color: #161b22;
          height: calc(100% - 2px);
          transition: all 0.4s;
          .ssh {
            background-color: #dadada;
            color: #000;
            border-radius: 6px;
            padding: 0 5px;
            margin-right: 4px;
            font-size: 10pt;
          }
        }
        input[type="radio"]:checked + label {
          border-bottom: 2px solid orange;
          background-color: #2b3441;
        }
        button.screen-close {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          background-color: unset;
        }
      }
    }
    .add-tab-block {
      padding: 0 10px;
      @include flexbese($ai: center, $jc: left);
      width: 320px;
      //transform: translateY(-20px);
      .button-wrap {
        border-radius: 20px;
        border: 1px solid whitesmoke;
        margin: 0 5px;
        overflow: hidden;
        button {
          border-radius: unset;
          margin: 0;
          border: 0;
          transform: translateY(0px);
        }
      }
      .add-tab-btn {
        background-color: #000;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        width: auto;
        padding: 2px 10px;
        margin: 0 5px;
        font-size: 14pt;
        font-weight: bold;
        border-radius: 20px;
        transform: translateY(8%);
        cursor: pointer;
      }
    }
  }
  .terminal-accessibility-elem {
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    .focus-only {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 1px;
    }
    #speak-live-text {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 1px;
    }
    #terminal-screens {
      width: 100%;
      height: 100%;
      background-color: black;
      overflow: hidden;
      .screen {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#app-setting-modal {
  //background-color: rgba(0, 0, 0, 0.5);
  div.wrap {
    max-width: 800px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: #11151b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em rgb(0, 23, 31);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    //box-shadow: 1em 1em 1.5em #2f2300;
    .content {
      width: 100%;
      padding-bottom: 10px;
      color: whitesmoke;
      height: 410px;
      overflow-y: scroll;
      h3 {
        text-align: left;
        margin: 20px 0;
      }
      .setting-items {
        @include flexbese($jc: left);
        padding: 0 10px;
        .item {
          flex-basis: 100%;
          background-color: #0e0e0e;
          border-bottom: 1px solid #505050;
          @include flexbese($jc: left);
          .label {
            flex-basis: 70%;
            text-align: left;
            font-size: 13pt;
            padding: 5px;
            position: relative;
            label {
              display: block;
              position: absolute;
              width: 100%;
              top: 50%;
              left: 50%;
              padding: 0 10px;
              transform: translate(-50%, -50%);
            }
          }
          .label.switch {
            padding: 30px 0;
            label { padding: 0 20px }
          }
          .input {
            flex-basis: 30%;
            padding: 5px;
            div.checkbox {
              position: relative;
              padding: 5px;
              width: 100%;
              height: 100%;
              input[type="checkbox"] {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 70px;
                height: 30px;
                opacity: 0;
                transform: translate(-50%, -50%);
                z-index: 3;
                &:checked + label {
                  background-color: darkviolet;
                  &::after {
                    transform: translate(43%, -50%);
                  }
                }
              }
              input[type="checkbox"] + label {
                position: absolute;
                background-color: transparent;
                width: 70px;
                height: 30px;
                border: 1px solid gray;
                border-radius: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: background-color 0.2s ease-in-out;
                z-index: 0;
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  background-color: white;
                  border-radius: 100%;
                  width: 20px;
                  height: 20px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-144%, -50%);
                  transition: transform 0.2s ease-in-out;
                  z-index: 1;
                }
              }
            }
            input[type="number"],
            select {
              color: whitesmoke;
              border-top: none;
              border-left: none;
              border-right: none;
              text-align: center;
              &:focus {
                border-top: none;
                border-left: none;
                border-right: none;
              }
            }
          }
          fieldset {
            width: 100%;
            padding: 5px 10px;
            border: unset;
            //border-bottom: 2px dotted gray;
            @include flexbese;
            legend {
              position: absolute;
              opacity: 0;
              padding-inline-start: unset;
              padding-inline-end: unset;
              border-width: unset;
              border-style: unset;
              border-color: unset;
              border-image: unset;
            }
          }
          .input.radio {
            flex-basis: 30%;
            text-align: right;
            .radiobox {
              display: inline-block;
              position: relative;
            }
          }
          .input.radio input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &:checked + label {
              background-color: darkviolet;
              color: white;
            }
          }
          .input.radio input + label {
            display: inline-block;
            padding: 3px 10px;
            background-color: #242c38;
            color: #ababab;
          }
        }
      }
      #app-setting-activate {
        display: block;
        max-width: 100px;
        width: 100%;
        padding: 5px 10px;
        font-size: 15pt;
        margin: 0 auto;
        margin-top: 20px;
        background-color: blueviolet;
        cursor: pointer;
        color: white;
      }
    }
    .modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 18pt;
    }
  }
}

.modal-close {
  font-size: 18pt;
}

.xterm-accessibility {
  margin-right: 20px;
}
